<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/universitylab?zeroDateTimeBehavior=convertToNull&amp;?useUnicode=true&amp;characterEncoding=utf8
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="model/Katigoria.hbm.xml"/>
        <mapping resource="model/KatastasiErgou.hbm.xml"/>
        <mapping resource="model/Mathimata.hbm.xml"/>
        <mapping resource="model/EidosDimosieusis.hbm.xml"/>
        <mapping resource="model/EreynitikaErga.hbm.xml"/>
        <mapping resource="model/Users.hbm.xml"/>
        <mapping resource="model/Dimosieuseis.hbm.xml"/>
        <mapping resource="model/Anakoinwseis.hbm.xml"/>
        <mapping resource="model/ThematikiEnotita.hbm.xml"/>
        <mapping resource="model/Meloi.hbm.xml"/>
        <mapping resource="model/Epipedo.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
